$font-primary: 'ubuntu';
$font-primary-color: rgba(0, 0, 0, 0.8);
$font-size-h1: 30px;
$font-size-h2: 26px;
$font-size-regular: 18px;

$spacing-related: 30px;
$spacing-unrelated: 60px;

$primary-color: #b969a9;
$secondary-color: #ef3e3a;
